.label {
  color: var(--darkmono);
  font-size: 16px;
  font-weight: 700;
}

.label-sm {
  font-size: 12px;
}

.label-lg {
  font-size: 18px;
  color: var(--neutral0);
  line-height: 26px;
}

.image-md {
  font-size: 14px;
}

.label span {
  color: var(--danger300);
  margin-right: 4px;
}

.rectangle {
  width: 6px;
  height: 6px;
  display: inline-block;
  margin-bottom: 4px;
  background-color: var(--primary300);
}
