.button {
  font-family: "Plus Jakarta Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.button--primary {
  color: var(--base50);
  background-color: var(--primary300);
}
.button--secondary {
  color: var(--base50);
  background-color: var(--secondary200);
}

.button--tertiary {
  color: var(--primary300);
  border: 2px solid var(--primary300);
  background-color: transparent;
}

.button--small {
  font-size: 12px;
  padding: 8px 12px;
}
.button--medium {
  font-size: 16px;
  padding: 10px 16px;
}
.button--large {
  font-size: 18px;
  padding: 12px 28px;
}

.button--primary:hover {
  background-color: var(--primary400);
}

.button--primary:disabled {
  color: var(--primary100);
  background-color: var(--primary400);
}

.button--secondary:hover {
  background-color: var(--secondary300);
}

.button--secondary:disabled {
  color: var(--secondary100);
  background-color: var(--secondary300);
}

.button--tertiary:hover {
  background-color: var(--secondary200);
}

.button--tertiary:disabled {
  color: var(--primary500);
  border: 1px solid var(--primary500);
}
